# Config
**/.config/*.config.*
**/*.env
**/*.env.*

# Dirs
**/__pycache__/
**/__sapper__/

**/.DS_STORE/
**/.artifacts/data/
**/.docker/data/
**/.idea/
**/.svelte-kit/
**/.vscode/

**/build/
**/debug/
**/dist/
**/env/
**/node_modules/
**/screenshots/
**/target/
**/venv/

# File Extensions
**/*.bk
**/*.bk.*

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.lock
**/*.lock.*

**/*-lock.*

**/*.log
**/*.log.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*

# Exceptions
!**/.artifacts/assets/
!**/.config/default.config.*
!**/*.env.example
!**/*.config.cjs
!**/*.config.js